<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458757187364-gnk3ijtuc85jkcigqp78lgnjslhgldvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458757187364-gnk3ijtuc85jkcigqp78lgnjslhgldvq</string>
	<key>API_KEY</key>
	<string>AIzaSyDedzSFO1CL3QiGXphdgPwEJmdPtxfXcak</string>
	<key>GCM_SENDER_ID</key>
	<string>458757187364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.RewardProcessing</string>
	<key>PROJECT_ID</key>
	<string>spe-data-3fd17</string>
	<key>STORAGE_BUCKET</key>
	<string>spe-data-3fd17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458757187364:ios:e7686090c752e1b5b4f5b1</string>
</dict>
</plist>